.file-detail-wrapper {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  padding: 16px 16px 0 16px;
  .file-detail-table {
    flex: 1;
    height: 0;
  }
}
