.root {
  height: 100%;
  overflow: hidden;
  padding: 16px 16px 0;
  background: white;
}

.filters {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  & > * {
    margin-right: 16px;
  }
}