.header-user {
  margin-right: 8px;
  .header-user-name {
    padding: 0 12px;
    display: inline-block;
    color: #2B3642;
    font-size: 14px;
  }

  .header-user-triangle {
    margin-left: 6px;
    color: #2B3642;
  }
}
