.log-detail-modal {
  :global(.ant-modal-close .ant-modal-close-x) {
    height: 48px;
    width: 48px;
    line-height: 48px;
  }
}

.log-detail {
  overflow: hidden !important;

  .log-detail-section {
    height: calc(100% - 290px);
    overflow: auto;

    h3 {
      padding: 8px 0;
      margin: 0;
    }

    &.detail {
      height: 290px;
      position: relative;
      bottom: 12px;
    }
  }

  :global(.ant-tabs-content) {
    height: calc(100% - 48px);

    :global(.ant-tabs-tabpane) {
      height: 100%;
      overflow: hidden;
      padding: 0 24px;
    }
  }

  .detail-form {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    padding: 8px 16px;
    background: #FAFAFA;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    min-height: 290px;

    :global(.ant-form-item) {
      margin-bottom: 6px;

      :global(.ant-form-item-label) {
        width: 80px;
      }
    }
  }

  :global(.ant-form-item) {
    &.textarea-wrapper {
      margin-top: 4px;
      width: 100%;

      :global(.ant-form-item-label) {
        line-height: 18px;
      }

      :global(.ant-form-item-control-wrapper) {
        width: calc(100% - 80px);

        textarea {
          height: 120px;
        }
      }
    }
  }

  .step-info {
    height: 100%;

    :global(.ant-form-item) {
      margin-bottom: 16px;

      :global(.ant-form-item-label) {
        width: 56px;
      }

      &.textarea-wrapper {
        margin-top: 6px;
        width: 100%;
        height: calc(100% - 100px);

        :global(.ant-form-item-control-wrapper) {
          height: 100%;
          width: 100%;

          :global(.ant-form-item-control) {
            height: 100%;

            :global(.ant-form-item-children) {
              textarea {
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-height: 960px) {
  .log-detail {
    .log-detail-section {
      height: calc(100% - 400px);

      &.detail {
        height: 400px;
      }
    }

    .detail-form {
      min-height: 400px;
    }

    :global(.ant-form-item) {
      &.textarea-wrapper {
        :global(.ant-form-item-control-wrapper) {
          textarea {
            height: 230px;
          }
        }
      }
    }
  }
}

.intfnet-test-body {
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  padding-top: 20px;

  .intfnet-test-item {
    width: calc(50% - 12px);
    background: rgba(255, 255, 255, 1);

    & > p {
      font-size: 16px;
      margin: 0;
      padding: 8px 0;
      font-weight: bold;
      border: 1px solid rgb(232, 232, 232);
      border-bottom: none;
    }

    .intfnet-item-editor {
      height: calc(100% - 41px);
    }
  }
}

.intf-info-section {
  &:nth-child(2) {
    flex: 1;
    margin-top: 16px;
    // overflow: hidden;
  }

  background: #F5F5F5;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  padding: 16px 16px 0;

  h3 {
    padding: 0;
    margin: 0;
    font-size: 16px;
  }

  .intf-info-title {
    display: flex;
    align-items: center;
    padding-bottom: 16px;

    > label {
      margin-left: 24px;

      &::after {
        content: ':';
      }
    }

    > span {
      padding: 0 8px;
      color: #f5222d;
    }
  }

  .basic-info-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    overflow: hidden;

    .basic-info-item {
      width: 25%;
      margin-left: 8px;
      display: flex;
      align-items: center;

      &:first-child {
        margin-left: 0;

        > label {
          &::before {
            content: ' ';
          }
        }
      }

      .basic-item-comp {
        flex: 1;
      }
    }
  }

  .dataset-info-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 52px);

    .dataset-info-item {
      &:nth-child(1) {
        display: flex;
        height: 40px;
      }

      &:nth-child(2) {
        flex: auto;
        overflow: hidden;
      }

      .dataset-info-prompt {
        color: #f5222d;
        display: block;
        font-size: 14px;
        line-height: 32px;
      }
    }

  }
}